<section class="book-card">
  <a href="/book/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{title}}">
      <p>By: {{author}}</p>
      <p>Number of Pages: {{pages}}</p>
    </div>
  </a>
</section>

