<section class="book-name-card">
  <a href="/book/{{id}}">
    <header>{{getBook.title}}</header>
  </a>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{title}}">
      <p class="description">{{getBook.description}}</p>
      <p>By: {{getBook.author}}</p>
      <p>Number of pages: {{getBook.pages}}</p>
    </div>
</section>

<section class="comment">
    <p>Reader's Comment on This Book</p>
    {{#each bookComments as |comments|}}
    <p>{{comments.user.username}}</p>
    <p class="comment-text"> {{comments.comment_text}}</p>
    {{/each}}
</section>