<section class="book-name-card content-container">
  <a href="/book/{{id}}">
    <header>{{getBook.title}}</header>
  </a>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{title}}">
      <p class="description">{{getBook.description}}</p>
      <p>By: {{getBook.author}}</p>
      <p>Number of pages: {{getBook.pages}}</p>
    </div>
</section>

<section class="comment content-container">
    <p>Reader's Comment on This Book</p>
    {{#each bookComments as |comments|}}
    <p>{{comments.user.username}}</p>
    <p class="comment-text"> {{comments.comment_text}}</p>
    {{/each}}
</section>

<section>
    <form class="add-comment">
            <div class=" ">
                <label for="comment-content">Add Your Comment</label>
                <textarea id="comment-text" rows="4" cols="50" placeholder="Start your comment here …"></textarea>
                   
            </div>
            <input class="button" type="submit" value="submit">
    </form>
</section>

<script src="/js/comment.js"></script>