
<section class="book-name-card">
  <a href="/book/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{title}}">
      <p class="description">{{description}}</p>
      <p>By: {{author}}</p>
      <p>number of pages: {{pages}}</p>
    </div>
  </a>
</section>

<section class="comment">
    <p>Reader's Comment on This Book</p>
    <p class="comment-text"> {{Comments}}</p>
</section>