<section class="book">
  <img src="/images/{{book.filename}}" alt="{{book.description}}" />
  <div class="book-details">
    <h3>{{book.title}}</h3>
    <p>By: {{book.authur}}</p>
    <p>Pages: {{book.pages}}</p>
  </div>
</section>